:root {
    --hover-item: rgb(50, 86, 141);
    --font-color: #101214;
    --bg-app-color: rgb(255, 255, 255);
    --bg-gradient: rgb(255, 255, 255);
    --bg-gradient2: rgb(255, 255, 255);
}

.dark-mode {
    --font-color: rgba(255, 255, 255, 0.800);
    --bg-gradient: #333a41;
    --bg-gradient2: #32383f;
    --bg-app-color: #191c20;
}

body,
html {
    font-family: 'Rubik', sans-serif;
    user-select: none;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: var(--bg-app-color);
}

p,
a,
i,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.Game-Page {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.Game {
    width: 95%;
    height: 95%;
    border-bottom: 3px solid;
    border-top: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GameArea {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.game-upper-head {
    height: 5%;
    width: 100%;
}

.upper-field-card-circle {
    font-size: 13px;
    border-radius: 100px;
}

#GameArea-FieldIcon {
    margin: 0 0 30px 0;
}

#GameArea-FieldCircle {
    border: solid 6px red;
    animation: borderAnimation 5s linear infinite;
}

.GameArea-SideInfo {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.GameArea-SideInfo-Header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.GameArea-SideInfo-Main {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.GameArea-SideInfo-Footer {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.lol-game {
    height: 100%;
    width: 30%;
}

#GameField {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    gap: 0.5em;
}

.ComplexToe-Field {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameField-Header {
    width: 100%;
    height: 20%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameFieldHeader-upperBody {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameFieldHeader-underBody {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameFieldHeader-under {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.GameSide-headerList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.3em;
}

#statusText {
    opacity: 1;
    transition: all 0.5s ease-out;
}

#statusText.Invisible {
    opacity: 0;
}

#GameTitle {
    font-size: 40px;
}

#cellGrid {
    display: none;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.cellGrid-alert {
    animation: alert_red 1s linear;
}

.cellGrid_opacity {
    animation: opacity_div 1s linear;
}

#cellGrid.Invisible {
    opacity: 0;
}

.cell {
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-to-die-cell {
    opacity: 1;
    transition: background-color 1.5s ease-out;
    background-color: rgba(21, 139, 21, 0.603);
}

.death-cell {
    background-color: var(--font-color);
    transition: background-color 1.5s ease-in-out;
}

.GameArea-HeaderNav-Item {
    font-size: 24px;
    transition: all 0.1s ease-out;
}

.GameArea-HeaderNav-Item:hover {
    cursor: pointer;
    color: var(--hover-item);
    transition: all 0.1s ease-in-out;
}

#GameField-infoCorner-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.2em;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 4px 0;
}

.FirstPlayer-time {
    color: var(--font-color);
}

.SecondPlayer-time {
    color: var(--font-color);
}


/* LOBBY */

.Lobby {
    height: 100%;
    width: 100%;
}


/* HEADER */

.header-body {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-header {
    color: var(--font-color);
    height: 90%;
    width: 97%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 3px solid;
}

.header-nav {
    width: 10%;
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9em;
    margin: 0.5em 0.55em 0 0;
}

.AppTitle-div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AppTitle {
    margin: 0.4em 0 0 0;
    font-size: 37.5px;
}

.header-item {
    transition: all 0.1s ease-in-out;
}

.header-item:hover {
    cursor: pointer;
    color: var(--hover-item);
    transition: all 0.1s ease-in-out;
}

.ELO-Points-div {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0.5em 0 0 0.5em;
}

.ELO-Points-display {
    font-size: 31px;
    transition: all 0.15s ease-out;
}

.ELO_ani {
    font-size: 37px;
    transition: all 0.15s ease-out;
}

.sett_rsetELO_Points_btn {
    display: block;
    opacity: 0;
    transition: all 0.15s ease-out;
}

.ELO-Points-AddIcon {
    transition: opacity 2.15s ease-out;
}


/* MAIN BODY PART */

.lobby-main-sec {
    color: var(--font-color);
    display: block;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameMode-cards {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 1em;
}

.gameMode-card {
    border: 4px solid var(--font-color);
    width: 90%;
    height: 40%;
    transition: all 0.1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
}

.gameMode-card::before {
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    border: 4px solid transparent;
    border-radius: 30px;
    animation: animatedBorder 4s linear infinite;
}

.gameMode-card:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 90.7%;
    height: 40.7%;
}

.mainCard {
    transition: all 0.1s ease-out;
    height: 50%;
    width: 100%;
}

.mainCard:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 100.7%;
    height: 50.7%;
}

.card-header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BotIcon {
    font-size: 28px;
}

.card-circle {
    margin-bottom: 1.6em;
    width: 4em;
    height: 4em;
    border: 3px solid;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-app-color);
    color: var(--font-color);
    z-index: 100;
}

.card-mainSec {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardHeaderIcon-onlinePlayer {
    margin-bottom: 2.5em;
}

.card-miniBoard {
    display: grid;
    width: 30px;
    justify-content: center;
    grid-template-columns: repeat(6, auto);
}

.miniCell {
    width: 4.7vh;
    height: 4.7vh;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 25px;
    font-size: 38px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.miniCellMini {
    color: var(--font-color);
    width: 4.2vh;
    height: 4.2vh;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 25px;
    font-size: 38px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-miniBord-mini {
    display: grid;
    max-width: 30px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, auto);
}

.card-footer {
    height: 5%;
    width: 100%;
}

.card-footer h2 {
    color: var(--font-color);
    margin-top: 1.1em;
}

.GameMode-fields {
    color: var(--font-color);
    width: 100%;
    height: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin: 0 3em 0 3em;
}

.NxN-field-card-main {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameMode-fields-area {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
}

.GameMode-fields-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
}

.field-card-title {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

#fields-area-back-btn {
    margin: 0 0 0 0.5em;
    font-size: 20px;
    transition: all 0.1s ease-out;
}

#fields-area-back-btn:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: var(--hover-item);
}

.NxN-field {
    width: 75%;
    height: 50%;
    border: 3px solid;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.NxN-field:hover::before {
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    border: 4px solid transparent;
    border-radius: 30px;
    animation: animatedBorder 1.25s linear infinite;
}

.NxN-field:hover {
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    width: 76%;
    height: 51%;
}

.NxN-field-card-header {
    height: 10%;
    width: 100%;
}

.NxN-field-card-header-innerWrapper {
    margin: 0 0 2.1em 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GameMode-display {
    color: var(--font-color);
    margin-bottom: 1em;
}

.ChooseField-display {
    color: var(--font-color);
    margin-bottom: 1em;
}

.field-card-circle {
    font-size: 13px;
    width: 4em;
    height: 4em;
    border: 3px solid;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-app-color);
    z-index: 100;
}

.field-card-header-icon {
    font-size: 30px;
}

.test {
    color: rgba(150, 31, 31, 0.795);
}

#UltimateWinTextArea {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#UltimateWinText {
    font-size: 70px;
}

#ThreexThree_MiniBoard {
    grid-template-columns: repeat(3, auto);
}

#ThreexThree_MiniBoard .miniCellMini {
    width: 6.2vh;
    font-size: 50px;
    height: 6.2vh;
}

#ForxFor_MiniBoard {
    grid-template-columns: repeat(4, auto);
}

#ForxFor_MiniBoard .miniCellMini {
    width: 4.7vh;
    font-size: 45px;
    height: 4.7vh;
}

#TenxTen_MiniBoard {
    grid-template-columns: repeat(10, auto);
}

#TenxTen_MiniBoard .miniCellMini {
    width: 1.6vh;
    font-size: 21px;
    height: 1.6vh;
}

#FivexFive_MiniBoard {
    grid-template-columns: repeat(5, auto);
}

#FivexFive_MiniBoard .miniCellMini {
    width: 3.85vh;
    font-size: 30px;
    height: 3.85vh;
}

#FifTeenxFifTeen_MiniBoard {
    grid-template-columns: repeat(15, auto);
}

#FifTeenxFifTeen_MiniBoard .miniCellMini {
    width: 1.01vh;
    font-size: 12px;
    font-weight: 500;
    height: 1.01vh;
}

#TwentyxTwenty_MiniBoard {
    grid-template-columns: repeat(20, auto);
}

#TwentyxTwenty_MiniBoard .miniCellMini {
    width: 0.65vh;
    font-size: 0;
    font-weight: 500;
    height: 0.65vh;
}

#ThreexThree_Field {
    transition: all 0.1s ease-out;
    display: none;
}

#ForxFor_Field {
    transition: all 0.1s ease-out;
    display: none;
}

#FivexFive_Field {
    transition: all 0.1s ease-out;
}

#TenxTen_Field {
    transition: all 0.1s ease-out;
}

#FifTeenxFifTeen_Field {
    transition: all 0.1s ease-out;
}

#TwentyxTwenty_Field {
    transition: all 0.1s ease-out;
}


/* cool color effect on hover */

#FivexFive_Field:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#TenxTen_Field:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#FifTeenxFifTeen_Field:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#TwentyxTwenty_Field:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


/* FOOTER */

.lobby-footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.music-bars {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.music-bars-2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bar {
    margin-right: 5px;
    width: 3%;
    height: 16%;
    background-color: var(--font-color);
}

.lobby-footer-text {
    font-size: 20px;
    margin-bottom: 0.2em;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


/* settings window */

.settings-window {
    width: 80%;
    height: 70%;
    border: 3px solid;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, var(--bg-gradient), var(--bg-gradient2));
    z-index: 1000;
    position: absolute;
    margin: auto auto auto auto;
    top: -5%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    display: none;
    color: var(--font-color);
}

.settings-header {
    height: 10%;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-main {
    padding: 0.5em 1em 0 1em;
    height: 85%;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.settings-footer {
    width: 100%;
    height: 5%;
}

.general-settings {
    height: 50%;
    width: 100%;
    border-bottom: 2px dashed;
}

.general-settings ul {
    text-align: start;
    margin: 0.5em 0 0 0.5em;
}

.general-settings ul li {
    margin: 0 0 0.4em 0;
    font-size: 20px;
}

.general-settings ul li:hover {
    cursor: pointer;
}

.general-settings h2 {
    margin: 0 0 0.5em 0;
    font-size: 28px;
}

.user-settings {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.user-settings ul {
    text-align: start;
    margin: 0.5em 0 0 0.5em;
}

.user-settings ul li {
    margin: 0 0 0.4em 0;
    color: red;
    font-size: 20px;
}

.user-settings ul li:hover {
    cursor: pointer;
}

.user-settings h2 {
    font-size: 28px;
    margin: 0 0 0.5em 0;
}

#settings-close-btn {
    font-size: 24px;
    transition: all 0.1s ease-out;
    margin: 0.69em 0.57em 1.8em 0;
}

#settings-close-btn:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: var(--hover-item);
}

.sett-BGmusic-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1em;
}

#bgMusic_slider {
    outline: none;
}

#bgMusic_slider::-webkit-slider-thumb {
    cursor: pointer;
}


/* dark layer */

.dark-layer {
    display: none;
    position: absolute;
    margin: auto auto auto auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.87);
}


/* Player Name pop up */

.SetPlayerNamesPopUp {
    position: absolute;
    margin: auto auto auto auto;
    top: 0;
    bottom: 6.7%;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 50%;
    height: 65%;
    background-image: linear-gradient(to bottom right, #373c42, #282d32);
    padding: 0px;
    border: solid 4px;
    border-radius: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font-color);
}

#InputArea-KI-Mode {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.SetPlayerNames-Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    height: 21%;
    width: 100%;
    border-bottom: 2px solid;
}

.SetPlayerNames-footer {
    color: white;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.SetPlayerName-input {
    height: 80px;
    width: 30%;
    border-radius: 15px;
    padding: 0.25em 1em 0.25em 1em;
    outline: none;
    border: 2px solid;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#YourName_Input_KI_mode {
    height: 50%;
    width: 30%;
    border-radius: 15px;
    padding: 0.25em 1em 0.25em 1em;
    outline: none;
    border: 2px solid;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Your_IconInput {
    height: 50%;
    width: 30%;
    border-radius: 15px;
    padding: 0.25em 1em 0.25em 1em;
    outline: none;
    border: 2px solid;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Confirm-Name-btn {
    z-index: 10000;
    height: 45%;
    width: 15%;
    margin: 0 1em 0 0;
    border-radius: 15px;
    outline: none;
    border: 2px solid;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0.75em 0.5em 0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SetPlayerName-ConfirmButton_KI_mode {
    height: 15%;
    width: 20%;
    border-radius: 15px;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0 0.95em 0.5em 0;
    outline: none;
    border: 2px solid;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SetUpPopUp-CloseBtn {
    margin: 0.8em 0 0.4em 1em;
    cursor: pointer;
    transition: color 0.1s ease-out;
}

.SetUpPopUp-CloseBtn:hover {
    color: var(--hover-item);
    transition: color 0.1s ease-out;
}

.SetPlayerNames-Main {
    width: 100%;
    height: 85%;
}

.SetPlayerNamesMain-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    height: 90%;
    padding: 35px 30px 0 30px;
    gap: 1em;
}

.SetPlayerDataContainer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.SetPlayerNames-InputArea {
    gap: 1em;
}

.SetPlayerNames-IconInput {
    gap: 1em;
}

.SetPlayerNames-ClockInput {
    margin-bottom: 5em;
}

.IconSetArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    gap: 0.75em;
}

.Player-NameInputArea {
    width: 100%;
    height: 50%;
    gap: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.SetGameModeList-Wrapper {
    height: 35vh;
    width: 25vh;
}

.SetGameModeList {
    width: 100%;
    display: flex;
    height: min-content;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.SetClockList {
    width: 100%;
    display: flex;
    height: min-content;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.GameModeSet-Area {
    width: 100%;
    height: min-content;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.GameModeListItem {
    cursor: pointer;
    color: black;
    padding: 4px;
    margin: 0;
    transition: all 0.15s ease-out;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    flex-direction: row;
    width: 100%;
    height: max-content;
}

.GameModeListItem-Inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    gap: 1em;
}

#GameModeListItem-FreeFight {
    border-bottom: none;
    z-index: 10000;
}

.GameModeListItem-TextWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}


/* for online game. default display: none */

.OnlineGame_GameCode_Display {
    display: none;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0.75em 0.5em 0;
}


/* KI Mode set user data */

#YourNamePopUp_KI_Mode {
    width: 45%;
    height: 50%;
    justify-content: unset;
}

.KI_SetPlayerNamesInput {
    margin-left: 1em;
    margin-top: 1em;
}

.KI_SetPlayerIconsInput {
    margin-left: 1em;
}

.SetPlayerData_Header_KI {
    height: 9%;
}

label h3 {
    color: var(--font-color);
}


/* Game Info Pop Up */

.GameInfoPopUp {
    width: 80%;
    height: 70%;
    border: 3px solid;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, var(--bg-gradient), var(--bg-gradient2));
    z-index: 1000;
    position: absolute;
    margin: auto auto auto auto;
    top: -5%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    display: none;
    color: var(--font-color);
}

.GameInfoPopUp-Wrapper {
    padding: 20px;
    height: 100%;
    width: auto;
}

.GameInfo-Header {
    height: 7.5%;
    width: 100%;
    border-bottom: 2px solid;
}

.GameInfoHeader-Wrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.GameInfo-Main {
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0.8em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#GameInfo-Close-btn {
    cursor: pointer;
    font-size: 24px;
    transition: all 0.25s ease-out;
}

#GameInfo-Close-btn:hover {
    color: var(--hover-item);
    transition: all 0.25s ease-in-out;
}

.GameInfo-AllowedPatterns {
    width: auto;
    height: 100%;
}

.GameInfo-AllowedPatterns-Div {
    height: 100%;
    width: 100%;
}

.Pattern-Div {
    height: 30%;
    width: 100%;
    border-top: 2px solid;
    padding: 15px;
}

.PatternGrid-Wrapper {
    display: grid;
    gap: 40px;
    justify-content: flex-start;
    grid-template-columns: repeat(4, auto);
    align-items: center;
}

.PatternGrid-Three {
    display: none;
    grid-template-columns: repeat(3, auto);
}

.PatternGrid-For {
    display: none;
    grid-template-columns: repeat(4, auto);
}

.PatternGrid-Five {
    display: none;
    grid-template-columns: repeat(5, auto);
}


/* Choose winner pop up */

.ChooseWinner-popUp {
    margin: auto auto auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 55%;
    border: 3px solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
    color: var(--font-color);
    background-image: linear-gradient(to bottom right, var(--bg-gradient), var(--bg-gradient2));
}

.ChooseWinner-header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid;
}

.ChooseWinner-title {
    margin: 0 0 0 1em;
}

#ChooseWinnerWindow-CloseBtn {
    transition: all 0.15s ease-out;
    margin: 0 1.2em 0 0;
    font-size: 22px;
}

#ChooseWinnerWindow-CloseBtn:hover {
    transition: all 0.15s ease-in-out;
    color: var(--hover-item);
    cursor: pointer;
}

.ChooseWinner-SubHeader {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    font-size: 17px;
}

.ChooseWinner-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55%;
    width: 100%;
}

.player-name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50%;
    height: 100%;
    transition: all 0.15s ease-out;
}

.player-name-wrapper:hover {
    transition: all 0.15s ease-in-out;
    color: var(--hover-item);
    cursor: pointer;
}

.ChooseWinner-main:first-child {
    border-right: 3px solid;
}

.lolol {
    width: 100%;
    height: 20%;
}


/* ini online game pop up */

.OnlineGame_iniPopUp {
    display: none;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto auto auto;
    /* background-color: rgba(0, 0, 0, 0.671); */
}

.ini_onlineGame_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.onlineGame-header-cont {
    height: 100%;
    width: 33.33%;
    color: white;
}

.OnlineGameHeader-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.OnlineGameHeader-center h1 {
    font-size: 50px;
}

.OnlineGameHeader-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#onlineGame_closeBtn {
    margin: 0.5em 0.5em 0 0;
    font-size: 23px;
    cursor: pointer;
    transition: color 0.1s ease-out;
    color: white;
}

#onlineGame_closeBtn:hover {
    transition: color 0.1s ease-out;
    color: var(--hover-item);
}

.ini_onlineGame_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.onlineGame_main-btn {
    width: 25%;
    height: 35%;
    background-image: linear-gradient(to bottom right, rgb(236, 236, 236), rgb(221, 221, 221));
    color: #191c20;
    font-size: 26px;
    font-weight: 500;
    border: 3px solid #191c20;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.onlineGame_main-btn:hover {
    transition: all 0.1s ease-out;
    color: var(--hover-item);
    width: 25.5%;
    height: 36%;
}

.ini_onlineGame_footer {
    width: 100%;
    height: 20%;
}


/* enter code name pop up */

.OnlineGame_CodeName_PopUp {
    display: none;
    z-index: 10000;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 27%;
    height: 27%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto auto auto;
    border: 3px solid;
    color: var(--font-color);
    border-radius: 30px;
    background-color: var(--bg-app-color);
}

#CodeName_PopUpHeader {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#CodeName_PopUpMain {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#CodeName_PopUpFooter {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#OnlineGame_CodeNamePopUp_closeBtn {
    transition: all 0.1s ease-out;
    cursor: pointer;
    font-size: 21px;
    margin: 0.85em 0.75em 0 0;
}

#OnlineGame_CodeNamePopUp_closeBtn:hover {
    transition: all 0.1s ease-out;
    color: var(--hover-item);
}

.EnterCodeName_ConfirmBtn {
    outline: none;
    margin: 0 0.45em 1.5em 0;
    padding: 5px 12px 5px 12px;
    border: 2px solid;
    font-weight: 500;
    font-size: 22px;
    border-radius: 20px;
    background-color: var(--bg-app-color);
    transition: all 0.1s ease-out;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.EnterCodeName_ConfirmBtn:hover {
    transition: all 0.1s ease-out;
    color: var(--hover-item);
    cursor: pointer;
}

.EnterGameCode_Input {
    outline: none;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0 0.5em;
    width: 55%;
    height: 20%;
    border: 3px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.OnlineGameLobby_alertText {
    display: none;
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0.5em 0.5em 0;
}


/* Online Game Lobby */

.OnlineGame_Lobby {
    width: 25%;
    height: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: linear-gradient(to bottom right, #373c42, #282d32);
    border: 3px solid;
    border-radius: 30px;
    display: none;
    z-index: 10000;
}

.Lobby_header {
    width: 91%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#Lobby_closeBtn {
    margin: 0.15em 0 0 0;
    transition: all 0.1s ease-out;
}

#Lobby_closeBtn:hover {
    cursor: pointer;
    transition: all 0.1s ease-out;
    color: var(--hover-item);
}

.Lobby_main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    font-size: 25px;
    height: 55%;
    font-weight: 500;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.Lobby_footer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Lobby_startGame_btn {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--bg-app-color);
    font-weight: 500;
    font-size: 18px;
    width: 50%;
    height: 60%;
    border: 2px solid;
    border-radius: 20px;
    outline: none;
    transition: all 0.15s ease-out;
}

.Lobby_startGame_btn:hover {
    color: var(--hover-item);
    transition: all 0.15s ease-out;
}

.Lobby_GameCode_display {
    font-weight: 500;
    font-size: 18px;
}


/* Animations */

@keyframes animatedBorder {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: rgba(128, 36, 36, 0.856);
    }
    100% {
        border-color: transparent;
    }
}

@keyframes opacity_div {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes borderAnimation {
    0% {
        border-width: 6px;
    }
    50% {
        border-width: 9px;
    }
    100% {
        border-width: 6px;
    }
}

@keyframes blackenCell {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--font-color);
    }
}

@keyframes alert_red {
    0% {
        background-color: rgba(255, 0, 0, 1);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}